.project-main{
    width: 100%;
    min-height: 100vh;
    font-family: var(--font-family);
    border: var(--border-color);
}
.project-heading{
    border: var(--border-color);
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-heading);
}
.project-heading p{
    color: var(--color);
    margin-bottom: 10px;
    animation: projectani linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.project-subheading{
    width: 100%;
    text-align: center;
    color: grey;
     animation: projectani linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    line-height: 25px;
}
@keyframes projectani{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
@media screen and (max-width:625px) {
    .project-heading p{
        font-size: 30px;
    }
}
@media screen and (max-width:490px) {
    .project-heading p{
        font-size: 20px;
    }
    .project-subheading{
        font-size: 12px;
    }
}
 